.card {
  display: grid;
  justify-items: center;
  background: red;
  border-radius: 20px;
  padding: 1rem;
}
.image {
  height: 150px;
}
.name {
  font-size: 1.5rem;
}
.description {
  font-weight: 100;
}
.links {
  display: grid;
  justify-items: center;
}
