/* ===== Variables ===== */

:root {
  --main-color: hsl(0, 40%, 50%);
  --main-background-color: hsl(251, 22%, 10%);
  --secondary-background-color: hsl(336, 10%, 10%);
  --footer-color: hsl(230, 40%, 50%);

  --header-color: rgb(255, 255, 255);
  --text-color: rgb(228, 228, 228);
  --light-text-color: rgb(190, 190, 190);
  --link-color: rgb(226, 35, 26);
  --link-color-hover: rgb(255, 157, 160);

  --main-font: "Roboto", sans-serif;

  --shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* ===== RESET ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ===== Base styling ===== */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--link-color);
  border-radius: 999rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--link-color-hover);
}

::selection {
  background-color: var(--main-color);
}
a::selection {
  color: blue;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

main {
  padding: 2rem;
}

p {
  max-width: 80ch;
}

a {
  text-decoration: none;
  color: hsl(0, 100%, 97%);
}
a:hover {
  color: hsl(0, 0%, 100%);
  border-bottom: 2px solid var(--footer-color);
}

/* ===== Helper classes ===== */
.circular-container {
  /* Fuck webkit */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
}
.circular {
  /* Fuck webkit */
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
